@model SixBDigital.CarValeting.Web.ViewModel.CreateBookingViewModel

@{
    ViewData["Title"] = "Create booking";
}

<h3>Create Booking</h3>
<br />
@{
    await Html.RenderPartialAsync("Booking/_Create");
}
